@import url('https://fonts.googleapis.com/css?family=Ubuntu&subset=latin-ext');

body {
	background: linear-gradient(to right, #34ce9a, #0213ccd1);
}

.hidden {
	display: none;
}

a.navbar-brand{
	width: 20%;
}

.navbar-brand > img{
	height: 15%;
	width: 15%;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

button.navbar-toggler{
	border: 1px solid white !important;
}
nav {
	box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.20);
	background-color:#26292c;
}

.carousel-item>.carousel-caption {
	background-color: rgb(50,50,50);
	color: white;
}

#myCarousel img {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#myCarousel {
	margin-bottom: 3%;
}

.jumbotron {
	padding: 6rem 4rem;
	background-color: rgba(11, 9, 3, 0.4);
	color: rgba(237, 255, 199, 0.76);
}

.jumbotron h1 {
	text-transform: capitalize;
	font-weight: 400;
}

.fa-plus {
	font-size: 0.8rem;
}

.content_div {
	width: 100%;
	padding: 1% 3%;
	border: 1px solid black;
	margin-bottom: 3%;
}

.content_div ul {	
	list-style: none;
}

.content_div p {
	margin-top: 3%;
}

.div_center {
	text-align: center;
}

.highlightText {
	font-weight: 600;
}

#servicos>i {
	font-size: 200%;
}

#servicos .col i{
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 3rem;
	font-size: 300%;
}

#servicos-parcerias .row {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
}

#servicos-parcerias .col {
	margin: auto;
}

#servicos-parcerias h1 {
	font-size: 4.5rem;
}

#servicos-parcerias a {
	color: rgba(237, 255, 199, 0.76);
}

#servicos-parcerias a.btn {
	color: white;
}

#servicos-parcerias a:hover {
	text-decoration: none;
}

#servicos-parcerias i {
	font-size: 300%;
	margin-bottom: 3%;
}

#servicos-parcerias h1 i {
	font-size: 90%;
	margin-bottom: 3%;
}

#servicos-parcerias p {
	font-size: 100%;
	margin-bottom: 3%;
}

#megaIcon {
	padding: 0;
}

#megaIcon>a>i {	
	font-size: 500%;
}

#megaIcon>a>p {
	font-weight: 700; 
	font-size: 170%;
	margin: 0;
}

#swot {
	text-align: center;
}

#swot>i {
	font-size: 200%;
}

#swot .col {
	padding: 3% 0;
}

.title {
	margin-top: 8%;
}

.title>h1 {
	border-bottom: 3px solid black;
}

#pontosFortes {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 100%;
}

#pontosFracos {
	border-bottom: 1px solid black;
	border-width: 50%;
}

#oportunidades {
	border-right: 1px solid black;
	border-width: 50%;
}

#disclaimer {
	font-weight: 400;
	color: rgb(50,50,50);
}

body .navbar.navbar-expand-xl.navbar-light{
	position: fixed;
	width: 100%;
    z-index: 5000;
    border-bottom: 1px solid black;
}

.descriptionDiv {
	text-align: justify;
}

.iconDiv {
	text-align: center;
}

.container-fluid > .row  > .col-sm > .fas{
	font-size: 2000%;

}

.jumbotron-fluid > iframe{
	width: 100%;
	height: 450px;
	border: 0;
}

.nav-item > .btn-group > .btn > a{
	color: white;
}

.nav-item > .btn-group > .btn{
	background-color: #111315!important;
}

.dropdown-toggle-split{
	color: white;
}

.dropdown-menu{
	background-color: #111315;
}

.dropdown-menu > a{
	color: white;
}

.nav-item > .btn-group > button > a:hover{
	text-decoration: none;
	color: white;
	background-color: #111315;
}

.nav-item > .btn-group > button:hover{
	background: none!important;
}

.nav-item > a.nav-link, a.navbar-brand{
	color: white!important;
}
.nav-item > .btn-group > .btn.btn-outliner{
	border-right: 1px solid gray;
}

.nav-item > .btn-group > .btn.bg-light.dropdown-toggle{
	border-left: 1px solid gray;
}

.slideanim {
	visibility:hidden;
}

.slideAppear {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
0% {
  opacity: 0;
  transform: translateY(70%);
} 
100% {
  opacity: 1;
  transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
} 
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
}
}