<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="title">
            <h1>Serviços</h1>
            <hr/>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm iconDiv">
                <i class="fas fa-coins"></i>
            </div>
            <div class="col-sm descriptionDiv">
                <h2>Contabilidade e Fiscabilidade</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm descriptionDiv">
                <h2>Auditoria / Certificação legal das contas</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
            <div class="col-sm iconDiv">
                <i class="fas fa-clipboard-check"></i>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm iconDiv">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="col-sm descriptionDiv">
                <h2>Consultoria na área da gestão</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm descriptionDiv">
                <h2>Análise de projectos de investimento</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
            <div class="col-sm iconDiv">
                <i class="fas fa-project-diagram"></i>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm iconDiv">
                <i class="fas fa-users"></i>
            </div>
            <div class="col-sm descriptionDiv">
                <h2>Apoio na constituição / transformação de sociedades</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm descriptionDiv">
                <h2>Avaliações de Empresas</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
            <div class="col-sm iconDiv">
                <i class="fas fa-clipboard-list"></i>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm iconDiv">
                <i class="fas fa-hands-helping"></i>
            </div>
            <div class="col-sm descriptionDiv">
                <h2>Recrutamento de quadros</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm descriptionDiv">
                <h2>Candidaturas a apresentar a entidades nacionais e comunitárias</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
            <div class="col-sm iconDiv">
                <i class="fas fa-globe"></i>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm iconDiv">
                <i class="fas fa-plus-circle"></i>
            </div>
            <div class="col-sm descriptionDiv">
                <h2>Outros</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a molestie felis. Sed finibus vestibulum tellus, a imperdiet ligula dapibus sit amet. Donec nisi mauris, aliquet mattis ligula ut, convallis malesuada massa. Sed volutpat ullamcorper nisi, id lacinia quam ornare non. Nunc pharetra, quam ac aliquet interdum, est tortor viverra massa, ut placerat mauris orci nec eros. Ut eget cursus ligula. Nullam in molestie leo. Morbi id ornare orci.</h4>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<% include ./partials/footer %>